.UserPosts__container {
    width: 100%;
    padding: 12px;
    padding-top: 0;
}

.UserPosts__header, .no_posts {
    cursor: default;
    margin: 4px 0;
    margin-top: 24px;
    padding-bottom: 8px;
    font-size: 12px;
    font-weight: bold;
    opacity: .8;
    border-bottom: 1px solid rgba(0, 0, 0, .12);
}

.no_posts {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: none;
    font-size: 14px;
    margin: 50px;
    text-align: center;
}