.UserData__container {
    width: 100%;
    padding: 12px;
    border-bottom: 1px solid rgba(0, 0, 0, .12);
    margin-bottom: 8px;
}

.UserData_block__header {
    position: relative;
    height: 40px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid rgba(0, 0, 0, .12);
    margin: 4px 0;
    padding-bottom: 8px;
}

.UserData__header {
    margin: 0;
    cursor: default;
    font-size: 12px;
    font-weight: bold;
    opacity: .8;
}

.UserData__btnEdit {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 0;
    border-radius: 100%;
    border: 1px solid rgba(0, 0, 0, .22);
    opacity: .6;
    width: 30px;
    height: 30px;
}

.UserData__btnEdit * {
    width: 20px;
    height: 20px;
}

.UserData__btnEdit:hover {
    background: rgba(0, 0, 0, .08);
}

.UserData__btnEdit:active {
    background: rgba(0, 0, 0, .54);
}

.Information__container {
    margin: 8px 0;
    margin-bottom: 0;
}

.Information__container div {
    border-bottom: 1px solid rgba(0, 0, 0, .08);
    border-top: 1px solid rgba(0, 0, 0, .08);
}

.Information__container div:nth-child(3) {
    border-bottom: none;
}

.Information__container div:nth-child(1) {
    border-top: none;
}

.Information__container div p {
    cursor: default;
    font-size: 12px;
    font-weight: bold;
    opacity: .8;
    margin: 4px 0;
}